<h1> Add a New Photo </h1>

<form action="/create_row">
  <div>
    <label for="Caption">Caption:</label>
  <input id="Caption" type="text" name="the_caption">
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input id="Image URL" type="text" name="the_source">
  </div>
  <div>
    <button>Create Photo</button>
  </div>
</form>
